//НАЧАЛО переменные SASS
$company-color: #d4af37;
//КОНЕЦ переменные SASS

/* НАЧАЛО ОБЩИЕ СТИЛИ */

body {
  line-height: 1.4;
}

body, h1, h2, h3, h4, h5, h6, p, a {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  border-top: 3px solid #333;

}

.btn {
  background: black;
  color: white;
  font-size: 14px;
  border: none;

  display: inline-block;
  padding: 10px 30px;

  &:hover {
    background: #222222;
    color: white;
  }
}
/*НАЧАЛО main-title_and_breadcrumbs */
.main-title {
  div {
    background: $company-color;
    padding: 10px 8px 30px 0;
    display: inline-block;
    margin-left: 40px;

    @media (max-width: 767px) {
      margin-left: 0;
      padding: 6px;
      display: block;
    }

    h1 {
      font-size: 30px;
      color: white;

      background: black;
      display: inline-block;
      margin-bottom: 0;
      margin-left: -40px;
      padding: 7px 7px 7px 70px;

      @media (max-width: 767px) {
        font-size: 20px;
        padding: 0;
        margin: 0;
        display: block;
        text-align: center;
      }
    }
  }
}

.uk-breadcrumb {
  margin: 2% 0;
  text-align: center;
}

.uk-breadcrumb>li>a {
  font-weight: bold;
}

.uk-breadcrumb>li:nth-child(n+2):before {
  content: ">";
}
/*КОНЕЦ main-title_and_breadcrumbs*/

/* КОНЕЦ ОБЩИЕ СТИЛИ */

/* НАЧАЛО header */
header {
  padding-top: 20px;

  .search-and-phone-numbers {
    font-size: 18px;
    padding: 0 15px;
    float: right;
    width: 550px;

    @media (max-width: 959px) {
      font-size: 16px;
      float: none;
      width: auto;
    }

    @media (max-width: 480px) {
      padding: 0;
      text-align: center;
    }

    form {
      float: left;
      display: block;
      margin-right: 30px;

      @media (max-width: 480px) {
        float: none;
        margin-right: 0;
      }

      input {
        border: 1px solid black;
        border-right: none;
        padding: 4px;
        @media (max-width: 480px) {
          width: 150px;
        }
      }

      button {
        background: transparent;
        border: 1px solid black;
        padding: 4px 6px;
        margin-left: -6px;
      }
    }

    .phone-numbers {
      @media (max-width: 959px) {
        float: right;
      }

      @media (max-width: 480px) {
        float: none;
        text-align: center;
        margin-top: 15px;
      }


      img {
        margin-right: 10px;
      }
    }


  }

  p {
    margin-bottom: 0;
  }
}

/* НАЧАЛО navbar */

nav.uk-navbar {
  background: transparent;
}

nav.uk-navbar .logo {
  display: block;
  float: left;
  margin-top: -20px;
  @media (max-width: 959px) {
    margin-top: 10px;
  }
}

.uk-navbar-content,
.uk-navbar-toggle {
  color: black;
}

.uk-navbar-flip {
  margin-top: 10px;
}

.uk-navbar-nav>li>a {
  color: black;
  font-size: 18px;
}

.uk-navbar-nav>li.active a {
  border-bottom: 3px black solid;
  background-color: transparent;
}

.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus {
  background-color: transparent;
}

.uk-offcanvas { // мобильное меню
  li.active {
    background: rgba(255,255,255,.1);
  }
}
/* КОНЕЦ navbar */
/* КОНЕЦ header */

/* НАЧАЛО footer */
footer {
  background: black;
  padding: 40px 0;

  @media (max-width: 767px) {
    padding: 20px 0;
    text-align: center;
  }
  .uk-grid>div + div {
    margin-top: 15px;
  }
  p {
    color: white;
  }
}

//НАЧАЛО футер страницы контакты
.form-feedback {
  input,
  textarea {
    color: white;
    font-size: 18px;
    background: transparent;
    border: 1px white solid;
    padding: 5px;
  }

  .inputs {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-flow: column;
    }

    input {
      flex: 0 1 235px;

      @media (max-width: 1200px) {
        flex: 0 1 auto;
        margin-bottom: 15px;
      }
    }
  }

  label {
    margin: 10px 0 5px;
    display: block;
    color: white;
    font-size: 18px;
  }

  textarea {
    display: block;
    width: 100%;
    resize: none;
    height: 100px;
  }

  button {
    color: white;
    font-size: 18px;
    background: black;
    padding: 7px 20px;
    margin: 15px 0;
    border: 1px white solid;
    cursor: pointer;

    &:hover {
      background: #333;
    }
  }
}

//КОНЕЦ футер страницы контакты
/* КОНЕЦ footer */


/*---------------------------------
-------- НАЧАЛО стр.Главная --------
----------------------------------*/

//НАЧАЛО 3d-слайдер
.three-d-slider {
  background: 50% 100%/100% auto url(../img/index/3d-slider-background.jpg) no-repeat;
  padding-top: 1px;
  margin-bottom: 1%;

  //на экранах, менее 959px 3d-слайдер скрывается
  @media (max-width: 959px) {
    display: none;
  }


}

#perspective .scrollBox{
  position: relative;
  width: 400px;
  height: 300px;

  padding-right: 14px;
  overflow: hidden;
}
#perspective .scrollbar{
  position: absolute;
  width: 6px;
  height: 100%;

  right: 0;
}
#perspective .scrollDragger{
  position: absolute;
  background: #ccc;
  width: 6px;
  height: 30px;

  cursor: pointer;
  margin-left: -1px;
  z-index: 2;
}
#perspective .scrollRail{
  position: absolute;
  background: #eee;
  width: 4px;
  height: 100%;
  z-index: 1;
}

#perspective ul{
  list-style: none;
  margin: 0;
}

#perspective .fadein{
  display: block;
  float: left;
  margin-bottom: 15px;
  color: #fff;
  font: 40px Edmondsans;
  text-align: center;
  padding: 75px 0;
  width: 100%;
  height: 50px;
  background: #35c52e; /* Old browsers */
  background: radial-gradient(ellipse at center,  #35c52e 0%,#0b9830 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c52e', endColorstr='#0b9830',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#perspective #flux_carousel li{
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 145px;
  height: 145px;
  background: #35c52e; /* Old browsers */
}
#perspective #flux_carousel ul:nth-child(2n+2) li{
  background: #ccc;
}

#perspective .tab{
  background: #108de4;
  padding: 20px;
  color: #eee;
  border-radius: 5px;
}

#perspective {
  margin: 0 auto;
  margin-top: 30px;
  width: 210px;
  height: 320px;
  position: relative;
  -webkit-perspective: 1650px;
  perspective: 1650px;

  button {
    position: absolute;
    z-index: 500;
    top: 45%;
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: 0.9;
    outline: none;
    transition: .5s all;
  }

  button.prev {
    left: -295px;
    &:hover {
      left: -300px;
    }
  }
  button.next {
    right: -295px;
    &:hover {
      right: -300px;
    }
  }
}

#perspective #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(-288px);
}

#perspective #carousel figure {
  display: block;
  position: absolute;
  background: #399294;
  width: 186px;
  height: 116px;
  opacity: 1;
  margin: 12px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  transition: opacity 1s, transform 1s;
}
//КОНЕЦ 3d-слайдер
/* НАЧАЛО links-to-products-on-main */
.links-to-products-on-main {
  color: white;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;

  //на экранах, менее 959px скрывается
  @media (max-width: 959px) {
    display: none;
  }

  a {
    background: black;
    flex: 1 0 auto;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      background: #333;
    }

    &:not(:first-of-type) {
      margin-left: 15px;
    }
  }
}

/* КОНЕЦ links-to-products-on-main */

/* НАЧАЛО "о компании" на главной и на стр.О Компании */
.about {
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;

  .img-section {
    background: 50% 50%/cover url(../img/index/about-on-main-pic.jpg) no-repeat;
    position: relative;

    @media (max-width: 767px) {
      min-height: 300px;
    }

    img {
      position: absolute;
      left: 10px;
      bottom: 10px;
      background: rgba(255,255,255,.3);
      padding: 5px 10px;


      @media (max-width: 767px) {
        width: 60%;
        left: auto;
        right: 10px;
        bottom: 10px;
        max-width: 200px;
      }
    }
  }

  .text-section {
    background: $company-color;
    padding: 2.5% 5%;
    text-align: justify;

    font-size: 16px;

    h2 {
      font-weight: bold;
    }
  }
}

/* КОНЕЦ "о компании" на главной и на стр.О Компании */
/* НАЧАЛО акции на главной */
.promotions-on-main {
  background: 50% 50%/cover url(../img/index/promotions-on-main_background.jpg) content-box;

  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 1%;
  margin-bottom: 1%;

  @media (max-width: 767px) {
    font-size: 18px;
  }

  div.content {
    padding: 5%;
  }

  .zatirka {
    float: left;
    @media (max-width: 767px) {
      float: none;
      text-align: center;
    }
  }

  .delivery {
    float: right;
    margin-top: 15%;
    text-align: right;
    @media (max-width: 767px) {
      float: none;
      margin-top: 5%;
      text-align: center;
    }
  }

  img {
    @media (max-width: 767px) {
      width: 30%;
      margin: 5% 0;
    }
  }
}


/* КОНЕЦ акции на главной */
/* НАЧАЛО обратная связь на главной */
.feedback-on-main {
  margin-top: 1%;
  margin-bottom: 2%;

  .content-background {
    background: 50% 50%/cover url(../img/index/feedback-on-main_background.jpg) content-box;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;


    .content {
      padding: 3% 5% 2%;
    }

    .inputs {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1200px) {
        display: flex;
        flex-flow: column;
      }

      input {
        color: black;
        font-size: 16px;

        flex: 0 1 190px;
        border: 2px solid black;
        background: transparent;
        padding: 10px;
        @media (max-width: 1200px) {
          flex: 1 0;
          margin-top: 10px;
        }

        &::-webkit-input-placeholder {
          color: black;
        }

        &:-moz-placeholder { /* Firefox 18- */
          color: black;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
          color: black;
        }

        &:-ms-input-placeholder {
          color: black;
        }
      }
    }
    form {
      display: flex;
      flex-flow: column;
    }
    label {
      font-size: 16px;
      margin: 10px 0 5px;
    }
    textarea {
      border: 2px solid black;
      flex: 0 1 90px;
      font-size: 16px;
      background: transparent;
      padding: 10px;
      resize: none;
      margin: 20px 0 0;

      &::-webkit-input-placeholder {
        color: black;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: black;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: black;
      }

      &:-ms-input-placeholder {
        color: black;
      }
    }
    input[type=submit] {
      margin-top: 10px;
      align-self: baseline;
    }
  }

  .tile {
    background: 50% 50%/cover url(../img/index/feedback-on-main_tail.jpg) content-box;
    padding-left: 3px;
  }
}


/* КОНЕЦ обратная связь на главной */

/*---------------------------------
-------- КОНЕЦ стр.Главная ---------
----------------------------------*/
/*---------------------------------
-------- НАЧАЛО стр.О компании --------
----------------------------------*/
//НАЧАЛО блока about. Модификатор on-about,
//остальное выше
.about.on-about {
  .text-section {
    padding: 10% 5%;

    @media (max-width: 768px) {
      padding: 5%;
    }

    p {
      font-size: 36px;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }
}
//КОНЕЦ блока about. Модификатор on-about,
//остальное выше

//НАЧАЛО about-content
.about-content {
  margin-top: 2%;
  padding: 0 7%;

  p {
    text-align: justify;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
//КОНЕЦ about-content
/*---------------------------------
-------- КОНЕЦ стр.О компании --------
----------------------------------*/
/*---------------------------------
-------- НАЧАЛО стр.Продукция--------
----------------------------------*/
/* НАЧАЛО фильтр и окно товара */
.filter_and_product-summary {
  margin-top: 1%;
  margin-bottom: 2%;

  .product_title {
    font-weight: bold;
    background: $company-color;
    padding: 5px 0;
  }

  .filter {
    background: url(../img/products/filter-background.jpg) content-box;

    ul.uk-nav-sub {
      padding: 0;
    }

    &>ul>li>a {
      font-weight: bold;
    }

    &>ul li a {
      padding: 5px 15px;
      transition: .3s all;
    }

    &>ul li.active a {
      color: white;
      background: rgba(33,33,33,1);
    }

    &>ul li a:hover {
      color: white;
      background: lighten($company-color, 3);
    }

    h3 {

    }

    h3 a {
      background: $company-color;
      padding: 8px 16px;
      margin: 0;
      display: block;
      transition: .3s all;
    }

    & h3 a:hover {
      color: white;
      background: black;
    }
  }

  .product-summary {
    img{
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: justify;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    .title_and_main {
      position: relative;


      h4 {
        color: black;
        background: $company-color;
        box-shadow: rgb(0, 0, 0) 7px -7px 0px 0px;

        padding: 5px 20px 5px 30px;


        position: absolute;
        top: 25px;
        left: -10px;
      }
    }

    .slick-carousel {
      text-align: center;

      i:hover {
        cursor: pointer;
      }
    }

    .slick-list {
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
    }
  }
}

//КОНЕЦ фильтр и окно товара

//НАЧАЛО описание раздела
.section-description {
  .main-photo {
    position: relative;

    img {
      padding: 0 25px;
    }

    .background-lines {
      background: $company-color;

      position: absolute;
      z-index: -1;
      top: 20px;
      bottom: 25px;
      left: 0;
      right: 0;
    }
  }

  h3 {
    font-size: 24px;
  }

  .product-image-thumbs {
    p {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 16px;

      @media (max-width: 1220px) {
        font-size: 14px;
      }
    }
  }
}

//КОНЕЦ описание раздела

/*---------------------------------
-------- КОНЕЦ стр.Продукция --------
----------------------------------*/

/*---------------------------------
-------- НАЧАЛО стр.Доставка --------
----------------------------------*/
//НАЧАЛО карта
.map {
  img {
    display: block;
    margin: 0 auto;
  }
}
//КОНЕЦ карта
//НАЧАЛО информация о доставке
.delivery-info {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 16px;

  h2 {
    font-weight: bold;
  }

  .trucks {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img:not(:first-of-type) {
      width: 35px;
      height: 22px;
    }
  }

  p {
    text-align: justify;
  }

  .addresses {
    margin-top: 25px;
    @media (min-width: 768px) {
      margin-top: 100px;
    }
    .divider {
      background: black;
      display: block;
      width: 120px;
      height: 3px;
    }
  }
}


//КОНЕЦ информация о доставке
/*---------------------------------
-------- КОНЕЦ стр.Доставка --------
----------------------------------*/

/*---------------------------------
-------- НАЧАЛО стр.Контакты --------
----------------------------------*/
//НАЧАЛО адреса и карты
.addresses-and-maps {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18px;

  .ymaps {
    margin-bottom: 30px;
  }

  .divider {
    background: black;
    display: block;
    width: 120px;
    height: 3px;
  }
}

//КОНЕЦ адреса и карты

/*---------------------------------
-------- КОНЕЦ стр.Контакты --------
----------------------------------*/

