/* (начало) подключаем шрифт 'sladkoeshka' различной толщины: */
@font-face {
	font-family: 'sladkoeshka';
	src: url('../fonts/sladkoeshka.ttf') format('truetype');
	font-weight: normal;
}
/* (конец) подключаем шрифт 'sladkoeshka' различной толщины: */

$font-primary: 'Source Sans Pro', Arial, sans-serif;

// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

// $brand-primary: #52d3aa !default;
// $brand-secondary: #3f95ea !default; 

$brand-primary: 			#fb6e14 !default;
$brand-success:         #58ca7e !default;
$brand-info:            #1784fb !default;
$brand-warning:         #fed330 !default;
$brand-danger:          #fb4f59 !default;

$courses-background-color: #191919;//фон для блока курсов на главноай странице
$brand-white: #fff !default;
$brand-black: #000 !default;


$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-brand: 'sladkoeshka', Arial, sans-serif;

// Mixin
@mixin transition($transition, $ease: ease) {
    -moz-transition:    all $transition $ease;
    -o-transition:      all $transition $ease;
    -webkit-transition: all $transition $ease;
    -ms-transition: 		all $transition $ease;
    transition:         all $transition $ease;
}
@mixin fh5co-translate($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




body {
	font-family: $font-secondary;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	color: #5e493a;
	&.fh5co-overflow {
		overflow-x: auto;	
	}
}

a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:focus, &:active {
		color: darken($brand-primary, 15%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	color: $brand-black;
}

h2 {
	font-size: 36px;
	font-family: $font-brand;
}

p {
	margin-bottom: 30px;
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	@include border-radius(4px);
	@include transition(.5s);
	&.btn-md {
		padding: 5px 10px!important;
	}
	&.btn-lg {
		padding: 9px 18px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $brand-white;
	color: $brand-primary;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: darken($brand-primary, 5%)!important;
		border-color: darken($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.3);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
  }
}

/*
 * Flexslider
 */
#fh5co-home {

	.flexslider {
		border: none;
		position: relative;
		z-index: 1;
		margin-bottom: 0;

		.fh5co-text {
			position: absolute;
			z-index: 3;
			width: 100%;
			top: 50%;
			margin-top: -212px;
			text-align: center;

			.img-to-animate {
				margin-top: 7%;

				img {
					margin: auto 0;
					max-width: 90%;
					@media screen and (max-width: $screen-sm) {
						margin-top: 65px;
						padding: 0 20%;
					}
					@media screen and (max-width: 480px) {
						margin-top: 120px;
						padding: 0 15% 0 15%;
					}
				}
			}
		}
		.background {
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			overflow: hidden;
			height: 100vh;
			@media (min-width: 1200px) {
				text-align: center;
			}

			@media (max-width: 767px) {
				background-position: 50% 0 !important;
				height: auto;
				min-height: 400px;
			}
			@media (max-width: 480px) {
				min-height: 280px;
			}

			img {
				position: absolute;
				bottom: -80px;
				@media (min-width: 1200px) {
					margin-left: -1011px;
				}
				@media (max-width: 767px) {
					margin-left: 0;
					max-width: 700px;
					bottom: -30px;
				}
			}

		}
		.flex-control-nav,
		.flex-direction-nav {
			display: none;
		}
	}
}
.fh5co-main-nav {
	position: relative;
	background: rgba(0, 0, 0, 0);

	.fh5co-menu {
		vertical-align: middle;
		float: left;
		line-height: 0;
		text-align: center;
		width: 100%;
		a {
			font-family: $font-brand;
			font-size: 28px;
			padding: 29px 15px;
			color: white;
			@include inline-block;
			vertical-align: middle;
			&:hover, &:focus, &:active {
				outline: none;
				text-decoration: none;
			}
			&.active {
				color: $brand-primary;
			}
		}
	}
	&.non-index {
		a {
			color: black;
		}
		@media screen and (max-width: $screen-sm) {
			display: none;
		}
	}

}

.fh5co-heading {
	.heading {
		font-size: 50px;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 30px;
		@media screen and (max-width :$screen-sm) {
			font-size: 30px;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 60px;
			height: 2px;
			left: 50%;
			background: #fb6e14;
			margin-left: -20px;
		}
	}
	.sub-heading {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 30px;
		@media screen and (max-width :$screen-sm) {
			font-size: 18px;
		}
	}
}



.about-wrapper {
	background: #130d08 url(../images/igra/background-pattern.jpg) repeat;
}
#fh5co-about {
	@include flex;
	@include flexwrap;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	.fh5co-2col {
		width: 50%;
		@media screen and (max-width: $screen-lg) {
			width: 100%;
		}
	}
	.fh5co-text {
		padding: 2em 6em;
		text-align: left;
		@media screen and (max-width: $screen-lg) {
			padding: 1em;
		}
		.btn {
			color: $brand-white;
		}
		.heading {
			margin-bottom: 30px;
			color: black;
			font-weight: 300;
			position: relative;
			padding-bottom: 30px;
			text-align: center;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 40px;
				height: 2px;
				left: 50%;
				background: #fb6e14;
				margin-left: -20px;
			}
		}
		p {

			line-height: 1.2;
			color: #333;
			span.firstcharacter { float: left;
				font-size: 75px;
				line-height: 60px;
				padding-top: 4px;
				padding-right: 10px;
				padding-left: 3px;
				font-style: italic;
				top: -20px;
				position: relative;
				color: #333;
				font-family: $font-primary;
			}
		}
	}
	.fh5co-bg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 20%;
		position: relative;
		/*@media screen and (max-width: $screen-lg) {
			width: 100%;
			min-height: 600px;
		}*/
		img.about-photo {
			display: none;
			@media screen and (max-width: $screen-lg) {
				display: block;
			}
		}
		.signature {
			position: absolute;
			left: 40px;
			bottom: 20px;
			max-width: 200px;

			@media screen and (max-width: 480px) {
				max-width: 150px;
				left: 20px;
				bottom: 10px;
			}
		}

		/*@media screen and (max-width: 1200px) {
			width: 100%;
			min-height: 800px;
		}
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			min-height: 650px;
		}
		@media screen and (max-width: 520px) {
			width: 100%;
			min-height: 500px;
		}
		@media screen and (max-width: 480px) {
			width: 100%;
			min-height: 450px;
		}
		@media screen and (max-width: 320px) {
			width: 100%;
			min-height: 350px;
		}*/
	}
}

#fh5co-sayings {
	padding: 7em 0;
	@media screen and (max-width :$screen-sm) {
		padding: 5em 0;
	}
	.flexslider {
		.slides {
			li {
				font-size: 40px;
				line-height: 1.5;
				blockquote {
					padding-left: 0;
					border-left: none;
					@media screen and (max-width: $screen-sm) {
						padding: 0 20px;	
					}
					p {
						font-size: 40px;
						line-height: 1.5;
						@media screen and (max-width: $screen-sm) {
							font-size: 20px;
							line-height: 1.5;
						}
						&.quote-author {
							font-size: 20px;
							color: lighten($brand-black, 50%);
							@media screen and (max-width: $screen-sm) {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		.flex-control-paging {
			position: relative;
			&.flex-control-nav {
				bottom: -70px;
				@media screen and (max-width: $screen-sm) {
					bottom: -60px;
				}
			}
			li {
				a {
			
					width: 14px;
					height: 14px;
					background: rgba(0,0,0,.2);
					box-shadow: none;
					&:active, &:focus {
						outline: none;
					}
					&.flex-active {
						top: 2px;
						position: relative;
						background: transparent;
						box-shadow: none;
						border: 2px solid $brand-primary;
					}
				}
			}
		}
	}
}

#fh5co-courses {
	.fh5co-heading {
		padding-bottom: 0;

		.heading {
			position: relative;
			padding-top: 30px !important;

			@media screen and (max-width :$screen-sm) {
				padding: 0;
			}
		}
	}

	.fh5co-grid {
		background: $courses-background-color;
		@include flex;
		@include flexwrap;
		h3 {
			color: white;
			font-size: 18px;
			text-transform: uppercase;
			font-family: $font-family-base;
			margin-bottom: 0;
		}
		p {
			line-height: 1.6;
			font-size: 18px;
			color: white;
		}
		.pricing {
			color: white;
			font-size: 24px;
			display: block;
			padding-top: 20px;
			font-family: $font-brand;
			&:after {
				content: "";
				position: absolute;
				width: 40px;
				height: 2px;
				left: 50%;
				margin-left: -20px;
				background: white;
			}
		}
		.arrow-left {
			&:before, &::before {
				content : "";
				position: absolute;
				z-index: 999;
				top: 50px;
				left: 0;
				margin-left: -15px;
				width: 0; 
				height: 0;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent; 
				
				border-right:15px solid $courses-background-color;
				@media screen and (max-width: $screen-sm) {
					right: auto!important;
					left: 15px!important;
					top: 0!important;
					margin-top: -15px!important;

					margin-left: 0px!important;
					border-top: none!important;	

					border-left:15px solid transparent!important; 
					border-right:15px solid transparent!important; 
					border-bottom: 15px solid #f5f5f5!important;
				}
			}
		}

		.arrow-right {
			
			&:before, &::before {
				content : "";
				position: absolute;
				z-index: 999;
				top: 50px;
				right: 0;
				margin-right: -15px;
				width: 0; 
				height: 0; 
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent; 
				
				border-left:15px solid $courses-background-color;

				@media screen and (max-width: $screen-md) {
					right: auto!important;
					left: 0!important;
					margin-left: -15px!important;
					border-left: none!important;
					border-right:15px solid #f5f5f5!important; 	
				}
				@media screen and (max-width: $screen-sm) {
					right: auto!important;
					left: 15px!important;
					top: 0!important;
					margin-top: -15px!important;

					margin-left: 0px!important;
					border-top: none!important;	

					border-left:15px solid transparent!important; 
					border-right:15px solid transparent!important; 
					border-bottom: 15px solid #f5f5f5!important;
				}

				
			}
		}
		> .fh5co-v-half {
			width: 50%;
			text-align: center;
			position: relative;
			@include flex;
			@include flexwrap;
			@media screen and (max-width: $screen-md) {
				width: 100%;
			}
			.fh5co-special-1 {
				&.arrow-left {
					&:before, &::before {
						border-right:15px solid $courses-background-color;
						@media screen and (max-width: $screen-sm) {
							border-left:15px solid transparent!important; 
							border-right:15px solid transparent!important; 
							border-bottom: 15px solid #faebcd!important;
						}
					}
				}
			}
			> .fh5co-v-col-2 {
				width: 50%;
				padding: 20px;
				position: relative;
				&.fh5co-bg-img {
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					@media screen and (max-width: $screen-sm) {
						height: 200px;
					}
				}
				@media screen and (max-width: $screen-sm) {
					width: 100%;
				}
				
			}
			> .fh5co-h-row-2 {
				width: 100%;
				position: relative;
				@include flex;
				@include flexwrap;
				> .fh5co-v-col-2 {
					width: 50%;
					position: relative;
					padding: 20px;
					@media screen and (max-width: $screen-sm) {
						width: 100%;
					}
					&.fh5co-bg-img {
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						@media screen and (max-width: $screen-sm) {
							height: 200px;
						}
					}
				}
				&.fh5co-reversed {
					.fh5co-bg-img {
						position: absolute;
						right: 0;
						bottom: 0;
						top: 0;
						@media screen and (max-width: $screen-md) {
							position: relative;
							right: inherit;
							top: inherit;
							bottom: inherit;
						}
					}
				}
			}
		}
	}

}

#fh5co-menus {
	padding: 7em 0;
	@media screen and (max-width :$screen-sm) {
		padding: 5em 0;
	}

	.fh5co-heading {
		.heading { 
			position: relative;
			padding-top: 30px !important;
			// color: $brand-white; 
			&:before, &::before {
				height: 64px;
				width: 64px;
				position: absolute;
				content: "";
				background: url(../images/0401-vegan.png) no-repeat;
				top: 0;
				left: 50%;
				margin-top: -50px;
				margin-left: -32px;
			}
			
		}
		.sub-heading {
			color: #a99c92;
		}
	}

	.fh5co-food-menu {
		
		float: left;
		width: 100%;
		margin-bottom: 30px;

		@media screen and (max-width: $screen-sm) {
			margin-bottom: 30px;
			float: left;
			width: 100%;
			clear: none!important;
		}
		h2 {
			margin-bottom: 50px;
			font-style: italic;
			position: relative;
			
			&.fh5co-drinks {
				padding-left: 50px;
				&:before {
					background: url(../images/0301-pina-colada.png) no-repeat;
					content: "";
					position: absolute;
					top: -20px;
					left: 0;
					width: 64px;
					height: 64px;
				}	
			}
			&.fh5co-dishes {
				padding-left: 80px;
				&:before {
					background: url(../images/0302-steak.png) no-repeat;
					content: "";
					position: absolute;
					
					top: 0;
					left: 0;
					width: 64px;
					height: 45px;
				}
			}
			
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				padding: 0 0 20px 0;
				margin: 0 0 20px 0;
				border-bottom: 1px dotted #ccc;
				display: block;
				float: left;
				width: 100%;
				.fh5co-food-desc {
					clear: both;
					float: left;
					width: 80%;
					> figure {
						width: 20%;
						float: left;
						position: relative;
						margin-right: 4%;
						img {
							max-width: 100%;
							@include border-radius(4px);
							margin-bottom: 0;
						}
					}
					> div {
						
						width: 75%;
						float: left;
						position: relative;
						font-size: 14px;
						line-height: 1.5;
						p {
							margin: 0;
						}
						h3 {
							margin: 0 0 10px 0;
							padding: 0;
							font-size: 20px;
							color: $brand-black;
						} 
					}
				}
				.fh5co-food-pricing {
					float: right;
					width: 20%;
					text-align: right;
					font-size: 20px;
					color: $brand-primary;
				}
			}
		}
	}
}

#fh5co-reviews {
	padding: 0;
	position: relative;
	.fh5co-heading {
		.heading { 
			position: relative;
			padding-top: 30px !important;
			color: black;
		}
	}
	.owl-carousel {
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		@media (max-width: 767px) {
			padding: 0;
		}
		.owl-stage {
			display: flex;
			.owl-item {
				display: flex;
			}
		}
		.owl-nav {
			@media (max-width: 767px) {
				display: none;
			}
			position: absolute;
			top: 40%;
			left: 0;
			right: 0;
			.owl-prev {
				position: absolute;
				left: 0;
			}
			.owl-next {
				position: absolute;
				right: 0;
			}
		}
	}
	.fh5co-event {
		background: $brand-white;
		padding: 50px;
		text-align: center;
		margin-bottom: 30px;
		position: relative;
		@media (max-width: 767px) {
			padding: 35px;
		}
		&:before {
			border: 1px solid lighten($brand-black, 70%);
			content: "";
			position: absolute;
			top: 15px;
			bottom: 15px;
			right: 15px;
			left: 15px;
			z-index: 0;
		}
		&:after {
			border: 3px solid lighten($brand-black, 70%);
			content: "";
			position: absolute;
			top: 23px;
			bottom: 23px;
			right: 23px;
			left: 23px;
			z-index: 0;
		}
		h3, .fh5co-event-meta, p, .btn {
			position: relative;
			z-index: 2;
		}
		h3 {
			font-size: 36px;
			font-family: $font-brand;
			padding: 0;
			margin: 0;
		}
		.fh5co-event-meta {
			margin-bottom: 20px;
			display: block;
			color: lighten($brand-black, 50%);
			position: relative;
			padding-bottom: 10px;
			&:after, &::after {
				background: lighten($brand-black, 75%);
				background: $brand-primary;
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 40px;
				height: 2px;
				margin-left: -20px;
			}
		}
		p {
			font-size: 16px;
			line-height: 1.8;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.btn {
			margin-bottom: 0;
		}
	}
}

#fh5co-news {
	padding: 0;
	position: relative;
	.fh5co-heading {
		.heading {
			position: relative;
			color: black;
		}
	}
	.owl-carousel {
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		@media (max-width: 767px) {
			padding: 0;
		}
		.owl-stage {
			display: flex;
			.owl-item {
				display: flex;
			}
		}
		.owl-nav {
			@media (max-width: 767px) {
				display: none;
			}
			position: absolute;
			top: 40%;
			left: 0;
			right: 0;
			.owl-prev {
				position: absolute;
				left: 0;
			}
			.owl-next {
				position: absolute;
				right: 0;
			}
		}
	}
	.fh5co-event {
		background: $brand-white;
		padding: 50px;
		text-align: center;
		margin-bottom: 30px;
		position: relative;
		display: flex;
		flex-flow: column;
		@media (max-width: 767px) {
			padding: 35px;
		}
		&:before {
			border: 1px solid lighten($brand-black, 70%);
			content: "";
			position: absolute;
			top: 15px;
			bottom: 15px;
			right: 15px;
			left: 15px;
			z-index: 0;
		}
		&:after {
			border: 3px solid lighten($brand-black, 70%);
			content: "";
			position: absolute;
			top: 23px;
			bottom: 23px;
			right: 23px;
			left: 23px;
			z-index: 0;
		}
		h3, .fh5co-event-meta, p, .btn {
			position: relative;
			z-index: 2;
		}
		h3 {
			font-size: 36px;
			font-family: $font-brand;
			padding: 0;
			margin: 0;
		}
		.fh5co-event-meta {
			margin-bottom: 20px;
			display: block;
			color: lighten($brand-black, 50%);
			position: relative;
			padding-bottom: 10px;
			&:after, &::after {
				background: lighten($brand-black, 75%);
				background: $brand-primary;
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 40px;
				height: 2px;
				margin-left: -20px;
			}
		}
		p {
			font-size: 16px;
			line-height: 1.8;
			&:last-child {
				margin-top: auto;
				margin-bottom: 0;
			}
		}
		.btn {
			text-transform: none;
			font-size: 14px;
			letter-spacing: 0;
			padding: 6px 10px;
			margin-bottom: 0;
		}
	}
}

#fh5co-send-feed {
	margin-bottom: 20px;
	.fh5co-heading {
		.heading {
			padding: 0;
			margin: 0;
			position: relative;
			&::after {
				background: transparent;
			}
		}
	}

	.fh5co-social {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;

		}
	}

	label {
		color: #555;
		font-size: 24px;
		font-family: $font-brand;
		@media (max-width: 767px) {
			display: none;
		}
	}
}
#fh5co-container {
	position: relative;
	z-index: 10;
}
#fh5co-footer {
	background: #130d08 url(../images/igra/background-pattern.jpg) repeat;
	width: 100%;
	z-index: 1;
	font-size: 14px;
	line-height: 1.5;
	color: white;
	font-family: $font-family-base;

	@media screen and (max-width: $screen-xs) {
		height: inherit;
		position: relative;
	}

	.map-background {
		background: 50% 10%/cover url(../images/igra/map.png);
		padding: 30px 0;
		min-height: 380px;
		position: relative;


		.address-box {
			color: white;
			text-align: center;
			background: rgba(0,0,0,.9);
			border-radius: 10px;
			max-width: 280px;

			position: absolute;
			margin: 0 auto;
			margin-top: -170px;
			top: 49%;
			left: 0;
			right: 0;

			@media (max-width: 767px) {
				margin-top: 0;
				position: static;
			}

			a {
				color: white;
			}
		}
		.address-box::after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-top-color: #000000;
			border-width: 20px;
			margin-left: -20px;
			@media (max-width: 767px) {
				display: none;
			}
		}
		.blink-cb-module-main-btns {
			right: 50px !important;
			bottom: 90px !important;
		}
		.feedback {
			background: 50% 50%/100% 100% url(../images/igra/footer-feedback.png);
			display: block;
			width: 81px;
			height: 81px;
			position: relative;
			right: 0;
			bottom: 21px;

			@media (max-width: 767px) {
				position: static;
				margin: 0 auto;
			}

			&:hover {
				background: 50% 50%/100% 100% url(../images/igra/footer-feedback-hover.png);
			}
		}
	}
}
.fh5co-social {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 20px auto;

	padding: 0;
	li {
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline;
		a {
			font-size: 30px;
			padding: 10px;
			i {
				font-size: 30px;
			}
			&:hover, &:active, &:focus {
				outline: none;
				text-decoration: none;
			}
		}
	}
}



#fh5co-offcanvas, #fh5co-container, .fh5co-nav-toggle, #fh5co-footer {
	@include transition(.5s);
}
#fh5co-container, .fh5co-nav-toggle, #fh5co-footer {
	z-index: 2;
	position: relative;
}

#fh5co-offcanvas {
	display: block;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 275px;
	background: rgba(0,0,0,.9);
	padding: 0.75em 1.25em;
	a {
		display: block;
		color: rgba(255,255,255,.4);
		text-align: center;
		padding: 7px 0;
		&:hover, &:focus, &:active {
			outline: none;
			text-decoration: none;
			color: $brand-primary;
		}
		&.active {
			color: $brand-primary;
		}
	}

	@include fh5co-translate(-275px);
	@media screen and (max-width: $screen-sm) {
		display: block;
	}
	@include transition(.9s);
	.offcanvas-visible & {
		@include fh5co-translate(0px);
		@include transition(.5s);
	} 
}
#fh5co-container, #fh5co-footer, .fh5co-nav-toggle {
	@media screen and (max-width: $screen-sm) {
		@include fh5co-translate(0px);
	}
	.offcanvas-visible & {
		@include fh5co-translate(275px);
	}
}

.js-sticky {
	display: block;
	position: fixed;
	top : 0;
	width: 100%;
	z-index : 99999;
	transition: 1s all;
	&.semitransparent-background {
		background: rgba(0, 0, 0, .6);
	}
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

// Burger Menu
.fh5co-nav-toggle {
 
  cursor: pointer;
  text-decoration: none;
  &.active i {
		&::before, &::after {
			background: $brand-white;
		}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  @include inline-block;
	  width: 30px;
	  height: 2px;
	  color: $brand-white;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: $brand-white;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	  content:'';
		  width: 30px;
		  height: 2px;
		  background: $brand-white;
		  position: absolute;
		  left:0;
		  @include transition(.2s);
	  }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  border-bottom: none!important;
  background: rgba(0,0,0,.7);
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  @include border-radius(4px);
  @media screen and (max-width: $screen-sm) {
  	display: block;
  }
  
}

#fh5co-advantages {
	background-color: transparent;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding-bottom: 20px;
	margin-top: 3%;
	.fh5co-heading {
		padding-bottom: 70px;
		@media (max-width: 992px) {
			padding-bottom: 0;
		}
		.heading {
			color: white;
			padding-bottom: 10px;
		}
	}
	> .fh5co-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, .7);
		z-index: 9;
	}
	> .container {
		z-index: 10;
		position: relative;
	}
	
	.fh5co-type {
		float: left;
		width: 100%;
		text-align: center;
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 30px;
		}
	}
	h3 {
		font-family: $font-family-base;
		color: $brand-white;
		font-size: 24px;
		text-align: center;
		padding-bottom: 20px;
		padding-top: 110px;
		margin-bottom: 20px;
		@media (max-width: 992px) {
			&:not(.first) {
				padding-top: 170px;
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 60px;
			height: 2px;
			left: 50%;
			background: #fb6e14;
			margin-left: -20px;
		}
		&.with-icon {
			// padding-top: 50px;
			position: relative;
			&:before, &::before {
				// padding-top: 50px;
				content: "";
				position: absolute;
				left: 50%;
				margin-left: -85px;
				margin-top: -190px;
				width: 170px;
				height: 170px;
				border: 2px solid white;
				@include border-radius(50%);
			}
			&.icon-1 {
				&:before, &::before {
					background: url(../images/igra/advantages-tutor-icon.png) no-repeat center center;
				}
			}
			&.icon-2 {
				&:before, &::before {
					background: url(../images/igra/advantages-drapery-icon.png) no-repeat center center;
				}
			}
			&.icon-3 {
				&:before, &::before {
					background: url(../images/igra/advantages-mask-icon.png) no-repeat center center;
				}
			}
			
		}
	}
	p {
		font-size: 18px;
		font-family: $font-family-base;
		line-height: 1.2;
		color: white;
	}
}

#fh5co-gallery {
	background: url(../images/igra/background-pattern.jpg) repeat;
	.fh5co-heading {
		padding-bottom: 0;
	}
	.col-md-3 {
		padding: 0;

		img {
			@media (max-width: 767px) {
				margin: 0 auto;
			}
		}
	}

	.col-md-3:nth-child(1),
	.col-md-3:nth-child(3) {
		img {
			@media (max-width: 992px) and (min-width: 768px) {
				float: right;
			}
		}
	}

	button {
		border: none;
	}
}

.to-animate,
.to-animate-2 {
	.js & {
		opacity: 0;	
	}
}

.row-padded {
	padding-bottom: 40px;
}

.shadow {
	img {
		margin: 0 auto;
	}
}

.breadcrumb {
	background: transparent;
	font-family: $font-family-base;
	text-align: right;
	margin-bottom: 0;
	font-size: 16px;
	@media (max-width: 767px) {
		text-align: center;
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* --------------------
 НАЧАЛО страницы Курсы
---------------------- */

/* НАЧАЛО описание и расписание */
#summary-and-work-time {
	color: black;
	.summary {
		background-image: linear-gradient(to bottom,
			#cf4912 0%,
			#fac8c8 100%);
		font-family: $font-secondary;
		border-top: 1px solid transparent;
		padding: 0 30px 0;
		h2 {
			color: white;
		}
		.underline {
			background: black;
			height: 4px;
			max-width: 80px;
		}
		.pricing {
			font-size: 24px;
			font-family: $font-brand;
			color: white;
		}
		p {
			font-size: 16px;
			line-height: 1.2;
			font-family: $font-family-base;
			text-align: justify;
		}
	}


	.work-time {
		font-size: 30px;
		font-family: $font-brand;
		.dates {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			margin: 4% 0;
		}
		.date {
			max-width: 160px;
			display: flex;
			flex-flow: column wrap;
			text-align: center;
			p {
				line-height: 1.2;
				margin: 0;
			}
			img {
				max-width: 90px;
				margin: 0 auto;
			}
		}
		p.subscription {
			font-size: 24px;
		}
		p.quote {
			font-size: 48px;
			line-height: 1.1;
			margin: 0;
		}
		span.quote-sign {
			color: #ff4649;
			font-size: 70px;
		}
	}
}
/* КОНЕЦ описание и расписание */

#gallery-on-courses {
	.owl-carousel-on-courses {
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		a div {
			height: 190px;
			background: {
				size: cover;
				position: 50% 30%;
				repeat: no-repeat;
			};
		}
		@media (max-width: 767px) {
			padding: 0;
		}
		.owl-nav {
			@media (max-width: 767px) {
				display: none;
			}
			position: absolute;
			top: 40%;
			left: 0;
			right: 0;
			.owl-prev {
				position: absolute;
				left: 0;
			}
			.owl-next {
				position: absolute;
				right: 0;
			}
		}
	}
}

#video-gallery-on-courses {
	.owl-video-carousel-on-courses {
		margin-bottom: 2%;
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		.owl-nav {
			position: absolute;
			top: 45%;
			left: 0;
			right: 0;
			.owl-prev {
				position: absolute;
				left: 0;
			}
			.owl-next {
				position: absolute;
				right: 0;
			}
		}
	}
}

//НАЧАЛО запись на приём
.subscribe {
	margin-bottom: 2%;
	margin-top: 2%;
	.coupon {
		background: 100% 100%/100% 100% url(../images/igra/courses/coupon.png) no-repeat;
		font-size: 14px;
		color: white;
		font-family: $font-family-base;
		padding:  15px 15px 15px 313px;
		line-height: 1.4;
		@media (max-width: 1200px) {
			background: 100% 100%/100% 100% url(../images/igra/courses/coupon-right-side.png) no-repeat;
			font-size: 14px;
			padding:  15px 15px 15px 15px;
		}

		.coupon-content {
			h2 {
				color: white;
				margin-top: 0;
			}
			p {
				text-align: justify;
				margin: 15px 0;
			}
			margin: 0 auto;
			max-width: 550px;

			form {
				padding: 0 75px 15px;

				@media (max-width: 768px) {
					padding: 0 0 15px 0;
				}

				.form-control {
					border-color: white;
					padding: 5px 15px;
					line-height: 1.3;
					height: auto;
					color: #fff;
					background: #000;
				}

				.btn {
					color: white;
					display: block;
					margin: 0 auto;
					text-transform: none;
					letter-spacing: 0;
					padding-bottom: 7px;
				}
			}


		}
	}
}
//КОНЕЦ запись на приём
/* --------------------
 КОНЕЦ страницы Курсы
---------------------- */
/* --------------------
 НАЧАЛО страницы НОВОСТИ
---------------------- */
//НАЧАЛО фото и описание
#photo-and-summary {
	color: black;
	margin-bottom: 1%;
	.news-main-photo {
		img {
			width: 100%;
		}
	}
	.summary {
		.text {
			line-height: 1.4;
			text-align: justify;
			margin: 15px 0 10px;
		}

		.place-and-time {
			font-family: $font-brand;
			font-size: 30px;
			text-align: center;

			&>div {
				img {
					width: 40px;
				}
				@media (max-width: 767px) {
					display: inline-block;
					margin-right: 15px;
				}
			}
		}
	}

}

.text-section {
	color: black;
	font-size: 16px;
	line-height: 1.4;

	margin-top: 2%;
}

.video-section {
	margin-top: 2%;
	margin-bottom: 2%;

	.video-container {
		max-width: 700px;
		margin: 0 auto;
	}
}


//КОНЕЦ фото и описание
/* --------------------
 КОНЕЦ страницы КОНЕЦ
---------------------- */

/* НАЧАЛО LIGHTBOX */
#imagelightbox
{
	position: fixed;
	z-index: 9999;

	-ms-touch-action: none;
	touch-action: none;
}

/* activity indication */
#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
#imagelightbox-loading div
{
	width: 1.25em; /* 20 */
	height: 1.25em; /* 20 */
	background-color: #fff;

	-webkit-animation: imagelightbox-loading .5s ease infinite;
	animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading
{
	from { opacity: .5;	-webkit-transform: scale( .75 ); }
	50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
	to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}
@keyframes imagelightbox-loading
{
	from { opacity: .5;	transform: scale( .75 ); }
	50%	 { opacity: 1;	transform: scale( 1 ); }
	to	 { opacity: .5;	transform: scale( .75 ); }
}


/* overlay */
#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* "close" button */
#imagelightbox-close
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */
	border: none;

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus
{
	background-color: #111;
}
#imagelightbox-close:before,
#imagelightbox-close:after
{
	width: 2px;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 50%;
	margin-left: -1px;
}
#imagelightbox-close:before
{
	-webkit-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	transform: rotate( 45deg );
}
#imagelightbox-close:after
{
	-webkit-transform: rotate( -45deg );
	-ms-transform: rotate( -45deg );
	transform: rotate( -45deg );
}

/* navigation */
#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
#imagelightbox-nav button
{
	width: 1em; /* 20 */
	height: 1em; /* 20 */
	border: none;
	background-color: transparent;
	display: inline-block;
	margin: 0 0.313em; /* 5 */
}
#imagelightbox-nav button.active
{
	background-color: #fff;
}

/* arrows */
.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
	border: none;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
	background-color: #666;
	background-color: rgba( 0, 0, 0, .75 );
}
.imagelightbox-arrow:active
{
	background-color: #111;
}
.imagelightbox-arrow-left
{
	left: 2.5em; /* 40 */
}
.imagelightbox-arrow-right
{
	right: 2.5em; /* 40 */
}
.imagelightbox-arrow:before
{
	width: 0;
	height: 0;
	border: 1em solid transparent;
	content: '';
	display: inline-block;
	margin-bottom: -0.125em; /* 2 */
}
.imagelightbox-arrow-left:before
{
	border-left: none;
	border-right-color: #fff;
	margin-left: -0.313em; /* 5 */
}
.imagelightbox-arrow-right:before
{
	border-right: none;
	border-left-color: #fff;
	margin-right: -0.313em; /* 5 */
}
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
@-webkit-keyframes fade-in
{
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}
@keyframes fade-in
{
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}
@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left
	{
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right
	{
		right: 1.25em; /* 20 */
	}
}
@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left
	{
		left: 0;
	}
	.imagelightbox-arrow-right
	{
		right: 0;
	}
}
/* КОНЕЦ LIGHTBOX */
